*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.mian{
    min-height: 800px;
    position: relative;

.cart_title div, .product div {
            width:100px;
            height:30px;
            line-height: 30px;
            text-align: center;
            border:1px solid;
            float: left;
        }
        .product div {
            height: 90px;
            line-height: 90px;
            overflow: hidden;
        }
        .cart_title, .cart_body, .product {
            clear:both;
        }
        .minus, .add {
            width:20px;
            height:30px;
            line-height: 30px;
            display: inline-block;
            border:1px solid;
            cursor:pointer;
        }
        .cart_title .title, .product .title {
            width:300px;
        }
        .total {
            width:100%;
            height:50px;
            line-height: 50px;
            position: absolute;
            bottom:0;
            border: 1px solid;
        }
    }