*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	li{
		list-style: none;
	}
}
a{text-decoration: none;
	color: black;
}
.header{
	background: #ddd;
	.head_ul{
 		width: 60%;
		height: 40px;
		display: flex;
		justify-content: space-around;
		li{
			width: 100px;
			text-align: center;
			height: 40px;
			line-height: 40px;
			font-size: 12px;
			a{
				display: block;
			}
		}
	}
}
.header{
    position: relative;
	.head_ul{
		li{
			&:hover a{
				background: lightcyan;
			}
		}
	}
	.login_form{
	    position: absolute;
	    top:10px;
	    right: 50px;
	}
}
.header {
    position: relative;
	.login{
	    width: 500px;
	    height: 250px;
		position: absolute;
		top: 100px;
		right: 380px;
		background:url(/images/login.jpg) no-repeat;
		background-size: 100% 100%; 
		z-index: 3;
		border-radius:15px ;
		color: saddlebrown;
		padding:50px;
		display: none;
		span{
		    display: inline-block;
		    width: 100px;
		    height: 40px;
		    font-size: 15px;
		    line-height: 40px;
		    text-align: right;
		}
		input{
		    width: 200px;
		    height: 30px;
		}
		#login_btn{
		    margin-left: 100px;
		    width: 100px;
		}
		}
	.scrach{
		    position: absolute;
		    top: 0;
		    right: 100px; 
		     width: 280px;
		     height: 40px;
		     margin-top: 5px;
		     .word{
		         width: 200px;
		         height: 30px;
		         float: left;
		     }
		     button{
		         width: 50px;
		         height: 30px;
		     }
		     .info{
		         width: 120px;
		         min-height: 50px;
//		         display: none;
		         div{
		             cursor:pointer;
		             z-index: 3;
		         }
		     }
		}
}
.nav{
	height: 60px;
	background: url(/images/navbg.png);
	padding: 0 150px;
	.ul_1{
	    width: 60%;
	    float: left;
		height: 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 20px;
		margin-left: 100px;
		li{
		    width: 25%;
		    height: 60px;
		    line-height: 60px;
		    text-align: right;
		   a{
		       display: block;
		       width: 100%;
		       height: 100%;
		   }
		    &:hover{
		        background: url(/images/jian_hang.png) no-repeat;
		         background-position: 15px center;
		    }
		}
	}
	.hide{
	    height: 60px;
	    width: 100px;
	    float: left;
	    font-size: 20px;
	    line-height: 60px;
	    text-align: center;
	    position: relative;
	    .ul_2{
	        background: url(/images/ul_2bg.jpg) no-repeat;
	        background-size: 100% 100%;
	        position: absolute;
	        width: 450px;
	        height: 50px;
	        top: 60px;
	        left: 10px;
	        z-index: 2;
	        font-size: 15px;
	        line-height: 50px;
	        display: none;
	        li{
	            float: left;
	            width: 75px;
	            &:hover{
                    background: url(../images/jian.png) no-repeat;
                    background-position: center top;                 
	            }
	            a{
	                display: block;
                    width: 100%;
                    height: 100%;
	            }
	        }
	    }
	}
	
}


