.main{
    margin:10px 0; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    background: #FFFDEF;
    div{
        width: 24%;
        text-align: center;
         margin-top: 10px;
         background: #CCCCCC;
        .title{
           
            height: 50px;
            width: 80%;
            margin: 0 auto;
        }
        .price{
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }
        .add{
            text-align: center;
            width: 80%;
            margin: 0 auto;
            background: #00FFFF;
            cursor: pointer;
        }
    }
}
